h1,h2,h3,p,a,ul,li{
    margin: 0;
    padding: 0;
    font-family : 'NanumMyeongjo';
    font-weight: 200;
    list-style:  none;
    text-decoration: none; 
    outline: none;
    color: black;
}
a:hover,a:active {
    text-decoration: none;
}
html{
    position: relative;
    min-height: 100%;
    margin: 0;
}
body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    background: url(../image/bg.jpg) no-repeat center top/cover;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
}
img {
    margin: 0;
    padding: 0;
    border: 0;
}

#nav{
    height: 60px;
}
#header{
    margin: 23px 0 39px;
}
#content{
    margin-bottom: 300px;
}
#footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 75px;
    background: rgba(41, 41, 44, 0.7);
}
.container{
    width: 899px;
    margin: 0 auto;
}

.logo{
    width: 65%;
    min-width: 899px;
    margin: 0 auto;
    padding-top: 17px;
}
.logo img{
    width: 88px;
}
h1{
    text-align: center;
}
h1 img{
    width: 139px;
}
.btn_post{
    text-align: right;
}
.btn_post a{
    display: inline-block;
    margin-bottom: 27px;
    padding: 10px 43px 11px 19px; 
    font-size: 15px;
    color: #fff;
    border: 1px solid #5b595f;
    border-radius: 1px;
    background: url(../image/pen.svg)no-repeat 75px 11px/16px;
}
.btn_post a:hover{
    color: #ccc;
    transition: all 0.2s;
}
.post_container{
    display: grid;
    margin-bottom: 35px;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: minmax(322px, auto);
    grid-column-gap: 58px;
    grid-row-gap: 35px;
}
.post{
    background: #26252a;
    padding: 30px 29px 40px 27px;
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.09);
}
.post:hover{
    background: rgba(41, 40, 46, 0.8);
    transition: all .15s;
}
.post h2{
    height: 54px;
    font-size: 18px;
    color: #fff;
    line-height: 1.5;
    letter-spacing: -0.42px;
    overflow: hidden; 
    text-overflow: 
    ellipsis; display: 
    -webkit-box; -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical; word-wrap:break-word;
}
.post .date{
    margin: 23px 0 17px;
    font-size: 11px;
    font-weight: bold;
    color: #e38917;
    letter-spacing: -0.25px;
}
.post .text{
    font-size: 14px;
    color: #a9abb7;
    line-height: 2.07;
    letter-spacing: -0.32px;
    overflow: hidden; 
    text-overflow: 
    ellipsis; display: 
    -webkit-box; -webkit-line-clamp: 5; 
    -webkit-box-orient: vertical; word-wrap:break-word;
}
.paging{
    text-align: center;
}
.paging a{
    display: inline-block; 
}
.paging .first,.paging .last{
    color: #f1c68f;
}
.paging .first{
    margin-right: 27px;
}
.paging .first:hover img{
    transform: translateX(-2px);
    transition: all .1s;
}
.paging .last{
    margin-left: 27px;
}
.paging .last img{
    transform: rotateY(180deg);
}
.paging .last:hover img{
    transform: translateX(2px) rotateY(180deg);
    transition: all .1s;
}
.paging .prev,.paging .next{
    color: #e38917;
}
.paging .prev:hover,.paging .next:hover{
    color: #c67814;
    transition: all .2s;
}
.paging span{
    display: inline-block;
}
.paging span p{
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    margin: 0 22px;
}
.blink{
    margin-top: 25px;
    background: rgba(38, 37, 42, 0.7);
}
.blink p{
    text-align: center;
    line-height: 1.65;
    letter-spacing: -0.39px;
    padding: 94px 0 111px;
    color: #a9abb7;
}
.footer{
    width: 65%;
    min-width: 899px;
    margin: 0 auto;
}
.footer p{
    text-align: right;
    font-size: 20px;
    line-height: 75px;
    font-weight: 800;
    letter-spacing: -0.85px;
    color: #53534f;
}