{% extends './base.html' %}

{% block content %}
<div class="wrap-mindnote">
    <div class="mindnote">
        <ul>
            <li>
                <h2>행복에 익숙해지세요.</h2>
                <p>사람들은 익숙한 것에 끌립니다. 긍정적인 감정 습관을 기르고 행복에 익숙해지세요.</p>
            </li>
            <li>
                <h2>감정일기 왜 쓰죠?</h2>
                <p>솔직한 감정을 털어 놓을 수 있어요. 나도 몰랐던 잠재된 감정을 확인할 수 있어요.<br>
                나를 괴롭히는 비합리적인 생각을 찾고 바로 잡을 기회를 줍니다. 내 감정에 대한 대응이 적절했는지 생각해 볼 수 있어요.</p>
            </li>
            <li>
                <h2>어떻게 쓰죠?</h2>
                <p>내가 겪은 상황을 적습니다. 그때 느낀 감정을 적습니다. 그때 했던 행동이나 신체적 변화를 적습니다.<br>
                현재의 생각 및 떠오르는 계획을 적습니다. 누구에게 보여줄 것이 아니에요. 최대한 솔직하게 적습니다.<br>
                막연한 감정을 적지말고 구체적이고 명확한 감정을 적습니다.<br>
                ‘기분이 나빴다’가 아닌 어떠한 상황에서 [불안한, 슬픈, 분한, 우울한, 부끄러운]<br>
                마음이 들었다. 그러한 이유로 [고마운, 행복한, 사랑하는 ,기쁜] 마음이 생겼다.</p>
            </li>
            <li>
                <h2>예제:'비밀'이라는 무기를 내려놓는 용기가 필요해요.</h2>
                <p>같은 말을 해도 내 말을 아무도 들어주지 않았다. 무시당한것 같아서 너무 속상하고 분한 마음이 들었다.<br>
                불합리한 처사라고 생각했지만 화를 내지는 못했다. 화를 내면 내게 결국 안좋은 결과로 돌아올 거라고 생각했으니까.<br>
                이런일이 처음도 아닌데 매번 이렇게 넘어가는 것 같다. 우울했다. 혼자서 잠시동안 가만히 있었다.<br>
                다음에 이런일이 다시 발생한다면 내가 지금 기분이 나쁘다는 것을 그자리에 있는 사람들이 알 수 있도록 표현 해야겠다.<br>
                서로가 건강한 관계가 되기 위해서라도 필요한 행동이 아닐까?</p>
            </li>
        </ul>
    </div>
</div>
{% endblock content %}

