{% extends "coplate_base/base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block title %}로그인 | Coplate{% endblock title %}

{% block content %}
<div class="account-background">
  <main class="account">
    <div class="title">
      <a href="{% url 'index' %}">
        <img class="logo" src="{% static 'coplate/assets/coplate-logo.svg' %}" alt="Coplate Logo">
      </a>
    </div>

    <form method="post">
      {% csrf_token %}
      {% for error in form.non_field_errors %}
        <div class="form-error error-message">{{ error }}</div>
      {% endfor %}
      <div>
        {{ form.login|add_class:"cp-input"|attr:"placeholder:이메일"|add_error_class:"error" }}
        {% for error in form.login.errors %}
          <div class="form-error error-message">{{ error }}</div>
        {% endfor %}
      </div>
      <div>
        {{ form.password|add_class:"cp-input"|attr:"placeholder:비밀번호"|add_error_class:"error" }}
        {% for error in form.password.errors %}
          <div class="form-error error-message">{{ error }}</div>
        {% endfor %}
      </div>
      <button class="cp-button" type="submit">로그인</button>
    </form>
    
    <div class="info">
      <a class="item" href="{% url 'account_reset_password' %}">비밀번호 찾기</a>
      <a class="item" href="{% url 'account_signup' %}">회원가입</a>
    </div>
  </main>
</div>
{% endblock content %}
