{% extends "coplate_base/base_with_header.html" %}

{% load widget_tweaks %}

{% block title %}비밀번호 찾기 | Coplate{% endblock title %}

{% block content %}
<main class="cp-box account-password">
  <div class="title">
    <h1 class="heading">비밀번호 찾기</h1>
  </div>

  <form method="post">
    {% csrf_token %}
    <div>
      <input type="email" name="email" placeholder="가입시 등록한 이메일을 입력해 주세요." autocomplete="email" class="cp-input" required id="id_email">
    </div>
    <button class="cp-button account-button" type="submit">이메일 보내기</button>
  </form>
</main>
{% endblock content %}
