{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>코스토랑</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'menus/css/styles_datail.css' %}">
    </head>
        <body>
            <div class="food-datail">
                <h2> {{menu.name}} </h2>
                <div>{{menu.description}}</div>
                <p>{{menu.price}}원</p>
                <img src={% get_static_prefix %}{{menu.img_path}}/>
            </div>

            <div class="menu_img">
                <img src={%get_static_prefix%}{{menu.img_path}}>
            </div>

            <div class="menu_info">
                <h3>{{menu.name}}</h3>
                <h4>{{menu.name_eng}}</h4>
                <p class="menu-desc">{{menu.description}}</p>
                <p class="price">&#8361;{{menu.price}}</p>
            </div>

            <div class="back-main">
                <a href="/menus">돌아가기</a>
            </div>
        </body>
</html>