{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>SimpleShop</title>
    <meta charset="utf-8" />
    <link href={% static 'goods/css/styles.css' %} rel="stylesheet" />
  </head>

  <body>
    <div class="navbar">
      <a href="#" id="logo">
        <img src={% static 'goods/images/logo.png' %} width="149px"/>
      </a>
      <ul id="menu">
        <li><a href="#">Contact</a></li>
        <li><a href="#">Shop</a></li>
        <li><a href="#">Cart</a></li>
        <li><a href="#">Login</a></li>
      </ul>
    </div>
    <div class="hero-header"></div>

    <div class="products">
      <h3>Our New Products</h3>
      <div class="product-list">
        {% block product-list %}
        {% endblock product-list %}
        <div class="clearfix"></div>
      </div>
    </div>

    <div class="footer">
      <a href="http://facebook.com">
        <img src="{% static 'goods/images/facebook.png' %}" height="20px">
      </a>
      <a href="http://instagram.com">
        <img src="{% static 'goods/images/instagram.png' %}" height="20px">
      </a>
      <a href="http://twitter.com">
        <img src="{% static 'goods/images/twitter.png' %}" height="20px">
      </a>
    </div>
  </body>
</html>
