{% extends "coplate_base/base_with_header.html" %}

{% load widget_tweaks %}

{% block title %}비밀번호 변경 | Coplate{% endblock title %}

{% block content %}
<main class="cp-box account-password">
  <div class="title">
    <h1 class="heading">비밀번호 변경</h1>
  </div>

  <form method="post">
    {% csrf_token %}
    <div>
      <input type="password" name="oldpassword" placeholder="현재 비밀번호" autocomplete="current-password" class="cp-input" required id="id_oldpassword">
    </div>
    <div>
      <input type="password" name="password1" placeholder="새 비밀번호" autocomplete="new-password" class="cp-input" required id="id_password1">
    </div>
    <div>
      <input type="password" name="password2" placeholder="새 비밀번호 확인" class="cp-input" required id="id_password2">
    </div>
    <button class="cp-button" type="submit">완료</button>
  </form>
</main>
{% endblock content %}
