{% extends "podomarket_base/base_with_navbar.html" %}

{% load static %}
{% load humanize %}

{% block title %}{{ post.title }} | 포도마켓{% endblock title %}

{% block content %}
<div class="post-detail">
  {% if post.author == user %}
    <div class="header">
      <div class="buttons">
        <a class="podo-button small negative" href="{% url 'post-delete' post.id %}">삭제</a>
        <a class="podo-button small secondary" href="{% url 'post-update' post.id %}">수정</a>
      </div>
    </div>
  {% endif %}
  <article>
    <img class="image" src="{{ post.image1.url }}">
    {% if post.image2 %}
      <img class="image" src="{{ post.image2.url }}">
    {% endif %}
    {% if post.image3 %}
      <img class="image" src="{{ post.image3.url }}">
    {% endif %}
    <div class="post-meta">
      <h2 class="title">{{ post.title }}</h2>
      <div class="item-info">
        <div class="item-price {% if post.is_sold %}sold{% endif %}">{{ post.item_price|intcomma }}원</div>
        <div class="podo-chip primary">상태 {{ post.item_condition }}</div>
        <span class="date">{{ post.dt_created|date:"Y.m.d" }}</span>
      </div>
      {% if post.is_sold %}<div class="is-sold">거래완료</div>{% endif %}
    </div>
    <a class="profile-link" href="{% url 'profile' post.author.id %}">
      <div class="podo-box gray-background profile">
        <div class="profile-pic" style="background-image: url('{{ post.author.profile_pic.url }}')"></div>
        <div class="profile-info">
          <div class="nickname">{{ post.author.nickname }}</div>
          <ul class="podo-links">
            <li>{{ post.author.kakao_id }}</li>
            <li class="divider"></li>
            <li>{{ post.author.address }}</li>
          </ul>
        </div>
      </div>
    </a>
    <p class="item-detail">
      {{ post.item_details|linebreaksbr }}
    </p>
  </article>
</div>
{% endblock content %}
