{% extends "podomarket_base/base_with_navbar.html" %}

{% load widget_tweaks %}

{% block title %}{% if post %}{{ post.title }}{% else %}새 게시글 작성{% endif %} | 포도마켓{% endblock title %}

{% block content %}
<form class="post-form" method="post" autocomplete="off" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="title">
    {{ form.title|add_class:"podo-input"|add_error_class:"error"|attr:"placeholder:제목" }}
    {% for error in form.title.errors %}
      <div class="error-message">{{ error }}</div>
    {% endfor %}
  </div>
  <div class="price">
    {{ form.item_price|add_class:"podo-input"|add_error_class:"error"|attr:"placeholder:판매 가격" }}
    {% for error in form.item_price.errors %}
      <div class="error-message">{{ error }}</div>
    {% endfor %}
  </div>
  <div class="condition">
    <div class="radios">
      {% for radio in form.item_condition %}
        {{ radio }}
      {% endfor %}
    </div>
    {% for error in form.item_condition.errors %}
      <div class="error-message">{{ error }}</div>
    {% endfor %}
  </div>
  <div class="detail">
    {{ form.item_details|add_class:"podo-input"|add_error_class:"error"|attr:"placeholder:상세 정보" }}
    {% for error in form.title.errors %}
      <div class="error-message">{{ error }}</div>
    {% endfor %}
  </div>
  <div class="file">
    <div class="podo-input file-input">
      {% if post.image1 %}
        <img class="file-thumb" src="{{ post.image1.url }}">
      {% endif %}
      <div class="file-content">
        {{ form.image1 }}
      </div>
    </div>
    {% for error in form.image1.errors %}
      <div class="error-message">{{ error }}</div>
    {% endfor %}
  </div>
  <div class="file">
    <div class="podo-input file-input">
      {% if post.image2 %}
        <img class="file-thumb" src="{{ post.image2.url }}">
      {% endif %}
      <div class="file-content">
        {{ form.image2 }}
      </div>
    </div>
    {% for error in form.image2.errors %}
      <div class="error-message">{{ error }}</div>
    {% endfor %}
  </div>
  <div class="file">
    <div class="podo-input file-input">
      {% if post.image3 %}
        <img class="file-thumb" src="{{ post.image3.url }}">
      {% endif %}
      <div class="file-content">
        {{ form.image3 }}
      </div>
    </div>
    {% for error in form.image3.errors %}
      <div class="error-message">{{ error }}</div>
    {% endfor %}
  </div>
  {% if form.is_sold %}
    <div class="is-sold">
      <label for="{{ form.is_sold.id_for_label }}">거래 완료</label>
      {{ form.is_sold }}
      {% for error in form.is_sold.errors %}
        <div class="error-message">{{ error }}</div>
      {% endfor %}
    </div>
  {% endif %}
  <div class="buttons">
    <a
      class="podo-button large secondary cancel"
      href="{% if post %}{% url 'post-detail' post.id %}{% else %}{% url 'index' %}{% endif %}"
    >
      취소
    </a>
    <button class="podo-button large primary submit" type="submit">완료</button>
  </div>
</form>
{% endblock content %}