{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>코스토랑</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'menus/css/detail_styles.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
</head>
<body>
    <div id="header">
        <div class="container">
            <div class="nav">
                <a href="/menus">
                    <img src="{% static 'menus/images/logo-color.svg' %}">
                </a> 
        </div>
    </div>
    <div id="content">
        <div class="container">
            <div class="header">
                <h2>
                    <img src="{% static 'menus/images/menu-txt.svg' %}">
                </h2>
                <div class="menu_img">
                    <img src={%get_static_prefix%}{{menu.img_path}}>
                </div>
                <div class="menu_info">
                    <h3>{{menu.name}}</h3>
                    <h4>{{menu.name_eng}}</h4>
                    <p class="menu-desc">{{menu.description}}</p>
                    <p class="price">&#8361;{{menu.price}}</p>
                </div>
                <div class="back-main">
                    <a href="/menus">돌아가기</a>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="container">
            <div class="footer">
                <img src="{% static 'menus/images/logo-gray.svg' %}">
            </div>
        </div>
    </div>
</body>