{% extends './base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'foods/css/styles_detail.css' %}">
{% endblock css %}

{% block header %}
    <h3>상세메뉴</h3>
    <hr/>
{% endblock header %}

{% block food-container %}
    <div class="food-detail">
        <h2>{{menu.name}}</h2>
        <p>{{menu.description}}</p>
        <p>{{menu.price}} 원</p>
        <img src={% get_static_prefix %}{{menu.img_path}}/>
        <a href="/foods/menu/">돌아가기</a>
    </div>
{% endblock food-container %}
