{%extends './base.html' %}
{%load static%}

<!-- post_detail css -->
{% block css %}
<link rel="stylesheet" href="{%static 'posts/css/post_detail.css'%}">
{% endblock css %}


<!-- post_detail header-->
{% block post_header %}

<div class="container">
    <h1 class="title">{{post.title}}</h1>
    <p class="date">{{post.dt_created}}</p>
</div>
{% endblock post_header %}


<!-- post_detail content-->
{% block content %}
    <div class="content">
        <p class="text">{{post.content|linebreaksbr}}</p>
        <p class="date_md">수정일 <span>{{post.dt_modified}}</span></p>
    </div>
        <div class="btn">
        <div class="btn_list"><a href="{%url 'post_list'%}">목록으로</a></div>
        <div class="right_btn">
           <div class= "btn_modify"><a href="{%url 'post_update' post.id %}"> 수정하기 </a></div>
           <div class= "btn_delete"><a href="{%url 'post_delete' post.id %}"> 삭제하기 </a></div>
        </div>
    </div>
{% endblock content %}


