{% extends "coplate_base/base_with_navbar.html" %}
{% load static %}

{% block title %}{{profile_user.nickname}}님의 리뷰 | Coplate{% endblock title %}

{% block content %}
<main class="site-body">
  <div class="content-list max-content-width">
    <div class="header">
      <h2>{{profile_user.nickname}}님의 리뷰 ({{paginator.count}})</h2>
    </div>

    <div class="contents">
      {% for review in user_reviews %}
        <a href="{% url 'review-detail' review.id %}">
          <div class="cp-card content">
            <div class="thumb" style="background-image: url('{{ review.image1.url }}');"></div>
            <div class="body">
              <span class="cp-chip green">{{ review.restaurant_name }}</span>
              <h2 class="title">{{ review.title }}</h2>
              <date class="date">{{ review.dt_created|date:"Y년 n월 j일" }}</date>
              <div class="metadata">
                <div class="review-rating">
                  <span class="cp-stars">
                    {% for i in ""|ljust:review.rating %}★{% endfor %}
                  </span>
                </div>
                <div class="review-author">
                  <div class="cp-avatar" style="background-image: url('{{ review.author.profile_pic.url }}')"></div>
                  <span>{{ review.author.nickname }}</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      {% empty %}
        <p class="empty">아직 리뷰가 없어요 :(</p>
      {% endfor %}
    </div>

    <div class="wrap-pagination">    
      <a class="cp-ic-button circle backbutton" href="{% url 'profile' profile_user.id %}">프로필로 돌아가기</a>
      {% if is_paginated %}
        <ul class="pagination">
          {% if page_obj.has_previous %}
            <li><a href="?page=1">처음</a></li>
            <li><a href="?page={{ page_obj.previous_page_number }}">이전</a></li>
          {% endif %}

          {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
              <li class="current">{{ num }}</li>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
              <li><a href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}
          {% endfor %}

          {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">다음</a></li>
            <li><a href="?page={{ page_obj.paginator.num_pages }}">마지막</a></li>
          {% endif %}
        </ul>
      {% endif %}
    </div>
  </div>
</main>
{% endblock content %}
