{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>코스토랑</title>
        <meta charset="utf-8">
        {% block css %}
            <link rel="stylesheet" href="{% static 'foods/css/styles.css' %}">
        {% endblock css %}
    </head>
    <body>
        {% block date-block %}{% endblock date-block %}
        
        <div class="header">
            {% block header %}
                <hr/>
                <h1>코스토랑</h1>
                <h2>넌 코딩할때가 제일 이뻐</h2>
            {% endblock header %}
        </div>
        
        <div class="food-container">
            {% block food-container %}{% endblock food-container %}
        </div>
    </body>
</html>
